.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .registration-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .form__label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    width: 100%;
  }
  
  .form__input {
    width: 300px;
    height: 40px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }